{% extends 'base.html' %}
{% block content %}
<h2>قائمة تنبيهات المعاملات</h2>
<a href="{% url 'create_transaction_alert' %}" class="btn btn-primary">إضافة تنبيه جديد</a>
<table class="table">
    <thead>
        <tr>
            <th>الإشعار</th>
            <th>المعاملة</th>
            <th>الإجراءات</th>
        </tr>
    </thead>
    <tbody>
        {% for alert in transaction_alerts %}
        <tr>
            <td>{{ alert.notification.title }}</td>
            <td>{{ alert.transaction.pk }}</td>
            <td>
                <a href="{% url 'transaction_alert_detail' alert.id %}" class="btn btn-info">عرض</a>
                <a href="{% url 'edit_transaction_alert' alert.id %}" class="btn btn-warning">تعديل</a>
                <form action="{% url 'delete_transaction_alert' alert.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">حذف</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
